################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StaffPositions/StaffPositions.WebUI.Tests/obj/Debug
/StaffPositions/StaffPositions.WebUI/obj/Debug
/StaffPositions/StaffPositions.Services/obj/Debug
/StaffPositions/StaffPositions.DataAccess.SQL/obj/Debug
/StaffPositions/StaffPositions.DataAccess.InMemory/obj/Debug
/StaffPositions/StaffPositions.Core/obj/Debug
/StaffPositions/.vs
/.vs/ProjectSettings.json
/.vs/StaffPositions/v15/.suo
