################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/StaffPositions/StaffPositions.WebUI.Tests/obj/Debug
