@model StaffPositions.Core.ViewModels.DeveloperListViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>Staff</h1>

<div class="col-md-2">
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @Html.TextBox("Searching")<input type="submit" value="Search" />
    }

    <h4>Filter by Position</h4>
    <div class="list-group">
        @Html.ActionLink("All", "Index", null, new { @class = Request["Position"] == null ? "list-group-item active" : "list-group-item" })
        @foreach (var pos in Model.DeveloperPositions)
        {
            @Html.ActionLink(pos.Position, "Index", new { Position = pos.Position }, new { @class = Request["Position"] == pos.Position ? "list-group-item active" : "list-group-item" })
        }
    </div>

</div>

<div class="col-md-10">
    @foreach (var item in Model.Developers)
    {
        <div class="col-md-4" style="height:290px; width:230px; padding:10px;margin:10px;border: solid thin whitesmoke">
            <div class="col-md-12">
                <img class="img" style="height:240px; width:210px; max-height: 100%; max-width: 100%" src="~/Content/DeveloperProfiles/@item.Photo" />
            </div>
            <div class="col-md-12">
                <strong>
                    @Html.ActionLink(item.FirstName + " " + item.LastName, "Details", new { DeveloperId = item.DeveloperId })
                </strong>
            </div>

        </div>

    }
</div>
<div class="col-md-12 clearfix" />





