@model StaffPositions.Core.ViewModels.DeveloperListViewModel
@{ 
    ViewBag.Title = "Home Page";
}

<h1>Products</h1>

<div class="col-md-2">
    <h4>Filter by Position</h4>
    <div class="list-group">
        @Html.ActionLink("All","Index",null,new { @class = Request["Position"] == null ? "list-group-item active" : "list-group-item" })
        @foreach (var pos in Model.DeveloperPositions)
        {
            @Html.ActionLink(pos.Category, "Index", new { Category = cat.Category }, new { @class = Request["Position"] == pos.Position ? "list-group-item active" : "list-group-item" })
        }
    </div>

</div>

<div class="col-md-10">
    @foreach (var item in Model.Developers)
    {
        <div class="col-md-4" style="height:440px;padding:10px;margin:10px;border: solid thin whitesmoke">
            <div class="col-md-12">
                <img class="img" style="height:240px; width:240px; max-height: 100%; max-width: 100%" src="~/Content/ProductImages/@item.Image" />
            </div>
            <div class="col-md-12">
                <strong>
                    @Html.ActionLink(item.Name, "Details", new { id = item.Id })
                </strong>
            </div>
            <div class="col-md-12">
                <p>
                    @*@item.Description*@
                </p>
            </div>
            <dd class="col-md-12">
                <h4>
                    @*@item.Price*@
                </h4>
            </dd>
            <div class="col-md-12">
                <a href="@Url.Action("AddToBasket","Basket",new { Id=item.Id })" class="btn btn-default">Add to Basket</a>
            </div>

        </div>

    }
</div>
    <div class="col-md-12 clearfix" />




